:root{
    --width: 100%
}
body{
    background: url('https://upload.wikimedia.org/wikipedia/commons/a/a1/Back_Bay_skyline_from_Arnold_Arboretum_(2)%2C_November_1975.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    /* overflow-x:hidden; https://stackoverflow.com/a/23367521/9608521 */
    /*  background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden; */
}

ul{
    width: calc(100% + 100px);
    left: -50px;
    position: relative;
}

.frost{
    background-color: #ffffff7f;
    padding: 50px;
}

.gray{
    background-color: #7f7f7f7f;
}

@media(min-width:700px){

    h1{
        text-align: center;
        font-size: 3em;
    }

    
    .bar{
        padding: 0;
        display:grid;
        grid-template-columns: 2fr 1fr 2fr;
        justify-content: space-between;
    }

    .bar li{
        margin: 0 60px;
    }

    #home{
        grid-column: 1/2;
    }

    #others{
        grid-column: 3/4;
    }

    #others > ul{
        display: flex;
        justify-content: space-between;
    }
    
    .bar li{
        display: block;
        flex-direction: row;
    }
    
    .bar > *{
        margin: 0 60px;
    }
    
    .sections{
        display:flex;
    }

    .projects{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .projects > article{
        width: calc(25% + 30px);
        /* flex: 1fr 1fr calc(33% - 2rem); */
    }


}

h1{
    text-align: center;
    font-size: 2em;
}
h2{
    text-align: center;
}

.form{ /* the section with class form */
    /* margin: 0 35%; this should be in a media query */
}

form > :not([type='submit']){
    margin: 5px;
    display:block; 
    width: 100%
}

.projects > article{
    border-radius: 1em;
    margin: 2.5%;
}

.projects{
    text-align: center;
}

.projects p{
    padding: 5px 10px;
    text-align: left;
}

.projects h3{
    /* text-align: center; */
    border-bottom: 1px solid black;
}

.projects img{
    width: 90%;
    margin-bottom: 20px;
}

[type='submit']{
    margin: 0 0 0 50%;
}