body{
    background: url('https://upload.wikimedia.org/wikipedia/commons/a/a1/Back_Bay_skyline_from_Arnold_Arboretum_(2)%2C_November_1975.jpg');
    background-attachment: fixed;
    background-position: center;
    /*  background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden; */
}

ul{
    width: 100vw;
    left: -50px;
    position: relative;
}

.frost{
    background-color: #ffffff7f;
    padding: 50px;
}

.gray{
    background-color: #7f7f7f7f;
}

h1{
    text-align: center;
    font-size: 2em;
}

.form{ /* the section with class form */
    /* margin: 0 35%; this should be in a media query */
}

form > :not([type='submit']){
    margin: 5px;
    display:block; 
    width: 100%
}

.projects > article{
    border-radius: 1em;
}

.projects p{
    padding: 5px 10px;
}

.projects h3{
    text-align: center;
    border-bottom: 1px solid black;
}

[type='submit']{
    margin: 0 0 0 50%;
}