body{
    background-color: #ecccff;
}

h1{
    text-align: center;
}

.pic, .text{
    height: max(160px, 13vw);
    border: 1px solid red;
    max-width: max(400px, 60vw);
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
}

.pic{
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Abandoned_van_in_Marine_Park_%2891076%29.jpg/1024px-Abandoned_van_in_Marine_Park_%2891076%29.jpg');
    background-position: center;
}

#mariah{
    position: relative;
    height: 200%;
    top: -100%;
}

.prof{
    /* display:flex; */ /* text-align: center; in .text will center the pic. if you take that out, this will also center the pic */
    height: 50px;
    /* border: 1px solid black; */
}

