body{
    background-color: #ecccff;
    padding:50px;
}

h1{
    text-align: center;
}

.pic, .text{
    height: max(160px, 13vw);
    border: 1px solid red;
    max-width: max(400px, 60vw);
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    /* text-align: center; */
}

.pic{
    background-position: center;
    background-size: cover;
}

#mariah{
    position: relative;
    height: 200%;
    top: -100%;
}

.prof{
    /* display:flex; */ /* text-align: center; in .text will center the pic. if you take that out, this will also center the pic */
    height: 50px;
    text-align: center;
    /* border: 1px solid black; */
}

.form{
    display: none;
}

